<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovelive.sys.dao.ILogDao">
    <!-- 操作日志表名 -->
    <sql id="Oper_Talbe_Name">
		operation_log_t
	</sql>

    <!-- 登录日志表名 -->
    <sql id="Login_Talbe_Name">
		login_log_t
	</sql>

    <resultMap id="BaseResultMap" type="com.lovelive.sys.entity.OperationLog">
        <id column="ol_id" property="id" jdbcType="INTEGER"/>
        <result column="oper_account" property="operAccount" jdbcType="VARCHAR"/>
        <result column="oper_name" property="operName" jdbcType="VARCHAR"/>
        <result column="oper_role" property="operRole" jdbcType="VARCHAR"/>
        <result column="oper_IP" property="operIP" jdbcType="VARCHAR"/>
        <result column="oper_type" property="operType" jdbcType="VARCHAR"/>
        <result column="oper_function" property="operFunction" jdbcType="VARCHAR"/>
        <result column="oper_method" property="operMethod" jdbcType="VARCHAR"/>
        <result column="oper_URI" property="operURI" jdbcType="VARCHAR"/>
        <result column="oper_parameter" property="operParameter" jdbcType="VARCHAR"/>
        <result column="oper_parameter" property="operParameter" jdbcType="VARCHAR"/>
        <result column="response_time" property="responseTime" jdbcType="BIGINT"/>
        <result column="if_success" property="ifSuccess" jdbcType="TINYINT"/>
        <result column="result_content" property="resultContent" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 插入登录日志 -->
    <insert id="saveLoginLog" parameterType="com.lovelive.sys.entity.LoginLog">
        insert into
        <include refid="Login_Talbe_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                u_id,
            </if>
            <if test="userAccount != null">
                u_account,
            </if>
            <if test="loginIP != null">
                login_IP,
            </if>
            <if test="ifSuccess != null">
                if_success,
            </if>
            <if test="result != null">
                result,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userAccount != null">
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="loginIP != null">
                #{loginIP,jdbcType=VARCHAR},
            </if>
            <if test="ifSuccess != null">
                #{ifSuccess,jdbcType=TINYINT},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 插入 -->
    <insert id="saveOperationLog" parameterType="com.lovelive.sys.entity.OperationLog">
        insert into
        <include refid="Oper_Talbe_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="operAccount != null">
                oper_account,
            </if>
            <if test="operName != null">
                oper_name,
            </if>
            <if test="operRole != null">
                oper_role,
            </if>
            <if test="operIP != null">
                oper_IP,
            </if>
            <if test="operType != null">
                oper_type,
            </if>
            <if test="operFunction != null">
                oper_function,
            </if>
            <if test="operMethod != null">
                oper_method,
            </if>
            <if test="operURI != null">
                oper_URI,
            </if>
            <if test="operParameter != null">
                oper_parameter,
            </if>
            <if test="responseTime != null">
                response_time,
            </if>
            <if test="ifSuccess != null">
                if_success,
            </if>
            <if test="resultContent != null">
                result_content,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="operAccount != null">
                #{operAccount,jdbcType=VARCHAR},
            </if>
            <if test="operName != null">
                #{operName,jdbcType=VARCHAR},
            </if>
            <if test="operRole != null">
                #{operRole,jdbcType=VARCHAR},
            </if>
            <if test="operIP != null">
                #{operIP,jdbcType=VARCHAR},
            </if>
            <if test="operType != null">
                #{operType,jdbcType=VARCHAR},
            </if>
            <if test="operFunction != null">
                #{operFunction,jdbcType=VARCHAR},
            </if>
            <if test="operMethod != null">
                #{operMethod,jdbcType=VARCHAR},
            </if>
            <if test="operURI != null">
                #{operURI,jdbcType=VARCHAR},
            </if>
            <if test="operParameter != null">
                #{operParameter,jdbcType=VARCHAR},
            </if>
            <if test="responseTime != null">
                #{responseTime,jdbcType=BIGINT},
            </if>
            <if test="ifSuccess != null">
                #{ifSuccess,jdbcType=TINYINT},
            </if>
            <if test="resultContent != null">
                #{resultContent,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="getOperationLog" resultMap="BaseResultMap">
        select ol_id, oper_account, oper_name, oper_role, oper_IP, oper_type, oper_function, oper_method, oper_URI,
        oper_parameter, response_time, if_success, result_content, create_time, update_time from
        <include refid="Oper_Talbe_Name"/>
        order by create_time desc
    </select>

</mapper>