<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="./include/head.html">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登录</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
<div>
    <div>
        <div>
            <div>帐号密码登录</div>
            <form id="pageForm" name="pageForm" action="#" th:action="@{/login}" method="post" style="margin: 0;">
                <div>
                    <p>用户名</p>
                    <label for="username"><input type="text" id="username" name="username" th:value="${username}"/></label>
                </div>
                <div>
                    <p>密码</p>
                    <label for="password"><input type="password" id="password" name="password"/></label>
                </div>
                <div>
                    <p>是否记住我</p>
                    <label for="rememberMe"><input type="checkbox" id="rememberMe" name="rememberMe"></label>
                </div>
                <div>
                    <p>验证码</p>
                    <label for="validateCode"><input type="text" id="validateCode" name="validateCode"/></label>
                    <img id="captcha" src="getCaptcha" onclick="this.src='getCaptcha?d='+new Date()*1"/>
                </div>
                <input type="submit" value="登录"/>
                <input type="button" value="注册" onclick="location.href='register'"/>
                <div id="errorZone">
                    <div id="errorMsg" class="error"><span th:text="${errorMsg }"></span><br/></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>